aiohttp==1.0.5
astroid==2.2.5
async-timeout==3.0.1
asyncio==3.4.3
blessings==1.7
certifi==2019.6.16
chardet==3.0.4
Flask==1.1.1
Glances==3.1.0
gunicorn==19.9.0
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
multidict==4.5.2
psutil==5.6.3
pylint==2.3.1
python-dotenv==0.10.3
pytz==2019.1
PyYAML==5.1
requests==2.22.0
six==1.11.0
typed-ast==1.4.0
urllib3==1.25.3
websockets==3.4
wget==3.2
wrapt==1.11.2
xmljson==0.2.0
